In [22]:
# DATA LOADING

from mobility_data_loader import mobility_data_loader

def raw_data_mesh_decode(start_date,end_date):
    save_path = 'E:\\IRP_noto_earthquake\\data\\intermediate\\'

    df = mobility_data_loader(start_date,end_date)
    
    # Loop through all raw dataframe to process
    for day, dataframeDay in df.items():

        print(day)
        dataframeDay.to_csv(f'{save_path}{day}', index=False)
    
    return print('success')

# Process whole dataset into intermediate form
raw_data_mesh_decode('20240101','20240331')

1
20240101 dataframe shape
(85653, 18)
2
20240102 dataframe shape
(84857, 18)
3
20240103 dataframe shape
(85335, 18)
4
20240104 dataframe shape
(101273, 18)
5
20240105 dataframe shape
(113529, 18)
6
20240106 dataframe shape
(104928, 18)
7
20240107 dataframe shape
(94203, 18)
8
20240108 dataframe shape
(91534, 18)
9
20240109 dataframe shape
(115631, 18)
10
20240110 dataframe shape
(115583, 18)
11
20240111 dataframe shape
(117350, 18)
12
20240112 dataframe shape
(119567, 18)
13
20240113 dataframe shape
(106789, 18)
14
20240114 dataframe shape
(99355, 18)
15
20240115 dataframe shape
(114665, 18)
16
20240116 dataframe shape
(115293, 18)
17
20240117 dataframe shape
(119302, 18)
18
20240118 dataframe shape
(115119, 18)
19
20240119 dataframe shape
(122319, 18)
20
20240120 dataframe shape
(110519, 18)
21
20240121 dataframe shape
(95166, 18)
22
20240122 dataframe shape
(117317, 18)
23
20240123 dataframe shape
(114325, 18)
24
20240124 dataframe shape
(111372, 18)
25
20240125 dataframe shape
(114876, 18)
26
20240126 dataframe shape
(121748, 18)
27
20240127 dataframe shape
(113147, 18)
28
20240128 dataframe shape
(99002, 18)
29
20240129 dataframe shape
(117013, 18)
30
20240130 dataframe shape
(118667, 18)
31
20240131 dataframe shape
(117670, 18)
32
20240201 dataframe shape
(116131, 18)
33
20240202 dataframe shape
(120480, 18)
34
20240203 dataframe shape
(114174, 18)
35
20240204 dataframe shape
(98125, 18)
36
20240205 dataframe shape
(111177, 18)
37
20240206 dataframe shape
(114855, 18)
38
20240207 dataframe shape
(118633, 18)
39
20240208 dataframe shape
(119199, 18)
40
20240209 dataframe shape
(124277, 18)
41
20240210 dataframe shape
(113313, 18)
42
20240211 dataframe shape
(106038, 18)
43
20240212 dataframe shape
(100894, 18)
44
20240213 dataframe shape
(119926, 18)
45
20240214 dataframe shape
(120830, 18)
46
20240215 dataframe shape
(121146, 18)
47
20240216 dataframe shape
(124371, 18)
48
20240217 dataframe shape
(117860, 18)
49
20240218 dataframe shape
(103790, 18)
50
20240219 dataframe shape
(116808, 18)
51
20240220 dataframe shape
(119354, 18)
52
20240221 dataframe shape
(116804, 18)
53
20240222 dataframe shape
(122805, 18)
54
20240223 dataframe shape
(106411, 18)
55
20240224 dataframe shape
(117698, 18)
56
20240225 dataframe shape
(97615, 18)
57
20240226 dataframe shape
(119335, 18)
58
20240227 dataframe shape
(120935, 18)
59
20240228 dataframe shape
(122125, 18)
60
20240229 dataframe shape
(120056, 18)
61
20240301 dataframe shape
(124639, 18)
62
20240302 dataframe shape
(114849, 18)
63
20240303 dataframe shape
(102617, 18)
64
20240304 dataframe shape
(118182, 18)
65
20240305 dataframe shape
(118096, 18)
66
20240306 dataframe shape
(120324, 18)
67
20240307 dataframe shape
(121774, 18)
68
20240308 dataframe shape
(125523, 18)
69
20240309 dataframe shape
(116780, 18)
70
20240310 dataframe shape
(105633, 18)
71
20240311 dataframe shape
(120898, 18)
72
20240312 dataframe shape
(118105, 18)
73
20240313 dataframe shape
(123845, 18)
74
20240314 dataframe shape
(124136, 18)
75
20240315 dataframe shape
(129452, 18)
76
20240316 dataframe shape
(123172, 18)
77
20240317 dataframe shape
(105039, 18)
78
20240318 dataframe shape
(120778, 18)
79
20240319 dataframe shape
(125298, 18)
80
20240320 dataframe shape
(101993, 18)
81
20240321 dataframe shape
(121572, 18)
82
20240322 dataframe shape
(127394, 18)
83
20240323 dataframe shape
(114993, 18)
84
20240324 dataframe shape
(104401, 18)
85
20240325 dataframe shape
(119574, 18)
86
20240326 dataframe shape
(115687, 18)
87
20240327 dataframe shape
(123781, 18)
88
20240328 dataframe shape
(121008, 18)
89
20240329 dataframe shape
(122646, 18)
90
20240330 dataframe shape
(114248, 18)
91
20240331 dataframe shape
(74672, 18)
20240101
20240102
20240103
20240104
20240105
20240106
20240107
20240108
20240109
20240110
20240111
20240112
20240113
20240114
20240115
20240116
20240117
20240118
20240119
20240120
20240121
20240122
20240123
20240124
20240125
20240126
20240127
20240128
20240129
20240130
20240131
20240201
20240202
20240203
20240204
20240205
20240206
20240207
20240208
20240209
20240210
20240211
20240212
20240213
20240214
20240215
20240216
20240217
20240218
20240219
20240220
20240221
20240222
20240223
20240224
20240225
20240226
20240227
20240228
20240229
20240301
20240302
20240303
20240304
20240305
20240306
20240307
20240308
20240309
20240310
20240311
20240312
20240313
20240314
20240315
20240316
20240317
20240318
20240319
20240320
20240321
20240322
20240323
20240324
20240325
20240326
20240327
20240328
20240329
20240330
20240331
success

In [23]:
# Testing intermediate data
import pandas as pd

data = pd.read_csv('E:\\IRP_noto_earthquake\\data\\intermediate\\20240101')

In [24]:
data.head(
)

,common_id,latitude_o,longitude_o,arrive_time_o,stay_time_o,depart_time_o,move_time,mode,latitude_d,longitude_d,arrive_time_d,stay_time_d,depart_time_d,purpose_flg,latitude_h,longitude_h,latitude_w,longitude_w
0,67e6401f1f6460684eed82521ce87f02,34.680007,135.575515,2023-12-31 22:16:24,104,2024-01-01 00:00:00,64,train,34.680177,135.575084,2024-01-01 01:04:15,66,2024-01-01 02:10:13,6,34.677625,135.576437,34.685958,135.591313
1,3275d92ef18f9a6eb22f4d90536a1404,33.805680,132.809934,2023-12-31 23:27:53,32,2024-01-01 00:00:00,7,car,33.805680,132.809938,2024-01-01 00:07:15,101,2024-01-01 01:48:07,6,33.803458,132.802688,33.843542,132.778813
2,f2aacb3154cc40a0445d6bbd911933b5,36.543807,136.620889,2023-12-31 14:18:01,582,2024-01-01 00:00:01,4086,walk,36.543701,136.620727,2024-01-03 20:06:13,20037,2024-01-17 18:02:59,6,36.543542,136.613813,36.543542,136.613813
3,c21eeabbff24abdc6a5df55d524abc59,36.708401,137.359956,2023-12-31 23:36:55,23,2024-01-01 00:00:01,6,walk,36.708400,137.359956,2024-01-01 00:06:55,438,2024-01-01 07:24:58,6,36.710042,137.352688,36.586792,136.627688
4,a86b7d031dc964a774127bd6776af940,35.352004,134.948453,2023-12-31 16:47:35,432,2024-01-01 00:00:02,6,car,35.351999,134.948505,2024-01-01 00:06:08,586,2024-01-01 09:52:21,6,NaN,NaN,NaN,NaN

In [21]:
data.columns

Index(['common_id', 'latitude_o', 'longitude_o', 'arrive_time_o',
       'stay_time_o', 'depart_time_o', 'move_time', 'mode', 'latitude_d',
       'longitude_d', 'arrive_time_d', 'stay_time_d', 'depart_time_d',
       'purpose_flg', 'latitude_h', 'longitude_h', 'latitude_w',
       'longitude_w'],
      dtype='object')